@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./images/bg.jpeg") center/1000px;
  overflow: hidden;
  font-weight: bold;
}

.inline {
  display: inline-block;
}

.paper {
  background: url("./images/paper.webp") center/500px;
  padding: 20px 100px;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px rgba(0,0,0,0.5);
  position: absolute;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 10px;
}

.paper.image p {
  font-size: 30px;
}

img {
  max-height: 200px;
  width: 100%;
  pointer-events: none;
}

.paper.heart::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url(./images/heart.webp) center/150px no-repeat;
  opacity: 0.6;
}

p {
  font-family: 'Zeyada';
  font-size: 50px;
  color: rgb(0,0,100);
  opacity: 0.75;
  user-select: none;
  filter: drop-shadow(2px 1.5px 1px rgba(0,0,105,0.9));
}